div.banner {
    margin-top: 25px;
    width: 100%;
    height: 600px;
    background-image: url(../img/banner.jpg);
    border-radius: 10px;
    text-align: left;
    box-shadow: 7px 7px 25px #5cff59;
}
div.banner2 {
    background-color: azure;
    margin-top: 25px;
    width: 100%;
    height: 350px;
    border-radius: 10px 10px 25% 25%;
   
    box-shadow: 7px 7px 25px #5cff59;
    
}
div.lower{
    display: flex;
    flex-direction: row;
}
.banner h2{
    margin-bottom: 25px;
    margin-left: 50px;
    align-items: center;

}
.banner h5{
    margin-left: 50px;
 align-items: center;

}
.banner h1{
    margin-left: 100px;

}
div.banner img{
    width: 10%;
}
button{
    border-radius: 15px;
}
.vPage{
    color: white;
    background-color:#5cff59;
}
div.layers_ico{
    display: flex;
    flex-direction: column;
    width: 100%;
}
div img{
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
    background-color: azure;
    box-shadow: 5px 5px 10px grey ;
}